# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and debug files
*.log
*.out
*.err

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pylint reports
pylint-report.txt

# Environment variables
.env
.env.*

# Other
*.sqlite3
*.db
